<div class='container mt-3 mb-3'>
  <button class="btn btn-primary" (click)="show = !show">{{show ? 'Hide' : 'Add a Car'}}</button>
  
    <div *ngIf="show">
      <br>
      <form>
        <div class="row g-3">
          <div class="col">
            <input type="text" class="form-control" placeholder="Make" name="make" #make>
          </div>
          <div class="col">
            <input type="text" class="form-control" placeholder="Model" name="model" #model>
          </div>
          <div class="col">
            <input type="text" class="form-control" placeholder="Year" name="year" #year>
          </div>
        </div>
        <br>

        <div class="row">
          <div class="col">
            <input type="text" class="form-control" placeholder="Image URL" name="imageUrl" #imageUrl>
          </div>
          <div class="col">
            <button class="btn btn-primary" type="submit" (click)="addCar(make.value, 
                  model.value,year.value,imageUrl.value)">Add Car</button>
          </div>
        </div>
        
      </form>
    </div>
</div>
<div class="container px-4 px-lg-5 mt-5">
  <div class="row gx-4 gx-lg-5 row-cols-1 row-cols-md-2 row-cols-xl-3 justify-content-center">
    <app-car *ngFor="let carData of carsData" [carData]="carData" (carDeletedEvent)="refreshCars()"></app-car>
  </div>
</div>

